<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.grid.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.grid.min.css">
    <title>Zodiaco Chino</title>
    <style>
        .bg-secondary-subtle {
            background-color: rgba(108, 117, 125, 0.5);
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="container col-8 mt-5">
            <div class="row">
                <div class="card col-4 bg-secondary-subtle mx-auto rounded-5 border-0 px-1">
                    <div class="card-body">
                        <form id="ZodiacoForm" method="POST" action="/zodiaco" class="">
                            <h4 class="text-center">Nombre</h4>
                            <div>
                                <label for="txtNom" class="form-label mb-0">Nombre</label>
                                <input type="text" class="form-control rounded-5 border-0" id="txtNom" name="txtNom" value="{{ txtNom }}">
                            </div>
                            <div>
                                <label for="txtApePa" class="form-label mb-0 mt-2">Apellido Paterno</label>
                                <input type="text" class="form-control rounded-5 border-0" id="txtApePa" name="txtApePa" value="{{ txtApePa }}">
                            </div>
                            <div>
                                <label for="txtApeMa" class="form-label mb-0 mt-2">Apellido Materno</label>
                                <input type="text" class="form-control rounded-5 border-0" id="txtApeMa" name="txtApeMa" value="{{ txtApeMa }}">
                            </div>
                            <div>
                                <label for="" class="mt-2 mb-0">Sexo</label><br>
                                <input type="radio" id="rbH" name="rbSex" value="H" {% if rbSex == "H" %}checked{% endif %}>
                                <label for="rbH">Hombre</label><br>
                                <input type="radio" id="rbM" name="rbSex" value="M" {% if rbSex == "M" %}checked{% endif %}>
                                <label for="rbM">Mujer</label>
                            </div>
                            <div>
                                <h4 class="text-center mt-2">Fecha de Nacimiento</h4>
                                <div class="row col-12 mx-auto">
                                    <label for="txtDia" class="form-label col-5 text-center">Dia</label>
                                    <label for="txtMes" class="form-label col-5 text-center">Mes</label>
                                    <label for="txtAnio" class="form-label col-5 text-center">Año</label>
                                </div>
                                <div class="row col-12 mx-auto">
                                    <input type="number" class="form-control col-4 rounded-5" id="txtDia" name="txtDia" value="{{ txtDia }}">
                                    <input type="number" class="form-control col-4 rounded-5" id="txtMes" name="txtMes" value="{{ txtMes }}">
                                    <input type="number" class="form-control col-4 rounded-5" id="txtAnio" name="txtAnio" value="{{ txtAnio }}">
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-secondary mt-3 col-12 rounded-4 border-0 mb-1">Imprimir</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card col-7 bg-secondary-subtle mx-auto rounded-5 border-0 px-3">
                    <div class="card-body col-12 mt-3 p-1">
                        <div class="card bg-white rounded-4 border-0">
                            <div class="card-body">
                                <label for="">Hola </label>
                                <label for="" id="txtNomCom" name="txtNomCom">{{ txtNomCom if txtNomCom else '' }}</label>
                                <br>
                                <label for="">Tienes </label>
                                <label for="" id="txtEdad" name="txtEdad">{{ txtEdad if txtEdad else '' }}</label>
                                <br>
                                <label for="">Tu signo zodiacal es </label>
                                <label for="" id="txtZodiaco" name="txtZodiaco">{{ txtZodiaco if txtZodiaco else '' }}</label>
                                <br>
                                <img class="mt-3" src="{{ url_for('static', filename='img/' + (txtImg if txtImg else 'default.png')) }}" id="txtImg" alt="" style="height: 150px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>